---
title: Portfolio Management
description: GitLab's portfolio management allows you to manage large scale organization wide projects
canonical_path: "/solutions/portfolio-management/"
suppress_header: true
extra_css:
  - bl-modal.css
  - video-carousel.css
extra_js:
  - libs/slick.min.js
  - video-carousel.js
---

%link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"}
%link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"}

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 Portfolio Management
    %p
      Manage large scale organization-wide projects
    = link_to "Try GitLab Free", "/free-trial/", class: "btn cta-btn orange"
.gitlab-content-container.reverse-content
  .content.row-layout
    .full-width
      %p Tracking multiple active programs while staying abreast of portfolio performance is challenging. GitLab Portfolio Management helps organizations plan, track and measure velocity of multiple programs aligned with business initiatives.

  .content.row-layout
    .full-width
      %h2 Manage large programs
      %p
        Large programs have various work streams that need to be planned, tracked and measured to ensure the programs are on schedule.
        %ul
          %li
            With <a href="https://docs.gitlab.com/ee/user/group/epics/">multi-level epics</a> with multiple child epics and their associated issues, organizations can maintain visibility and control while prioritizing initiatives that deliver the maximum value.
          %li
            Organize epics and issues by dragging and dropping in the epic tree to prioritize the work.
    .full-width
      = image_tag "/images/portfolio-mgmt/multi-level-epic.png", class: "screenshot margin-bottom10", alt: "Multi-Level Epics"
      %i.font-small
        = link_to "Multi Level Epics", "https://docs.gitlab.com/ee/user/group/epics/"
  .content.row-layout
    .full-width
      %h2 Visualize and measure performance of large programs
      %p
        Establish product vision, strategy and roadmap as well as gain insight into how your cross functional program is progressing with a <a href="https://docs.gitlab.com/ee/user/group/roadmap/">portfolio level roadmap</a> view.
        %ul
          %li
            Identify, report on and quickly respond to the <a href="https://docs.gitlab.com/ee/user/project/issues/index.html#health-status">health of individual issues and epics</a> by viewing the health status.
          %li
            <a href="https://docs.gitlab.com/ee/user/group/epics/epic_boards.html">Epic boards</a> allow you to visualize and track your epics and their workflows in a Kanban-style board.
    .full-width
      = image_tag "/images/portfolio-mgmt/epic_view_roadmap.png", class: "screenshot margin-bottom10", alt: "Multi Level Roadmap"
      %a{ href: "https://docs.gitlab.com/ee/user/group/roadmap/", target: "_blank" }
        %i.font-small Portfolio Level Roadmap
  .content.row-layout

%section
  .container
    .row
      .col-md-12.text-center
        = partial "includes/blog/try"

- data.video_carousel.each do |video|
  -if video.carousel_identifier.include?("VSM Carousel 1")
    = partial "includes/components/video-carousel/video-carousel-modal", locals: {videolink: video.video_link, title: video.title, photourl: video.photourl}
